.navbar {
  min-height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  z-index: 2;
  width: 100vw;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

li {
  margin: 0px 5px;
}

a,
span {
  cursor: pointer;
  color: #2c3e50;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  padding: 23.5px 25px;
  border-bottom: 1.5px solid #fff;
}

.tabs {
  margin-right: 20%;
  span:hover,
  a:hover {
    border-bottom: 1.5px solid #ff7533;
  }
}

.brand {
  a,
  span {
    font-size: 20px;
    font-weight: bold;
    color: #00a396;
    padding: 0px;
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 5px;
    width: 40px;
    height: auto;
    margin-top: 2px;
  }
}

.btns {
  ul {
    :nth-child(2) {
      a {
        background-color: #ff7533;
        color: #fff;
        padding: 10px 25px;
        border-radius: 5px;
      }
    }
  }
}

#menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-end;
  .line {
    height: 4px;
    width: 40px;
    border-radius: 20px;
    background-color: #00a396;
    margin: 3px 0px;
  }
  .line1 {
    width: 35px;
  }
  .line3 {
    width: 25px;
  }
}

@media screen and (max-width: 1268px) {
  .brandContainer {
    width: 100%;
    ul {
      width: 100%;
      justify-content: space-between;
    }
  }

  .btns {
    display: none;
  }

  .navbar-collapsed {
    height: 260px;
    align-items: flex-start;
    padding-top: 13px;
  }

  .tabs {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    margin-top: 50px;
    width: 100%;
    ul {
      display: flex !important;
      flex-direction: column !important;
      a,
      span {
        border: none !important;
      }
      li {
        margin: 10px 0px;
      }
    }
  }

  .tabContainer {
    justify-content: space-between;
  }

  .mainNav {
    align-items: flex-start;
  }

  #menu {
    display: flex;
  }
}

@media screen and (min-width: 1268px) {
  .tabs {
    display: flex !important;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
}
