.navbar {
  min-height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  z-index: 2;
  width: 100vw;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tabContainer {
  justify-content: flex-start;
}

li {
  margin: 0px 5px;
}

a,
span {
  cursor: pointer;
  color: #2c3e50;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  padding: 23.5px 25px;
  border-bottom: 1.5px solid #fff;
}

.tabs {
  margin-left: 100px;
  span:hover, a:hover {
    border-bottom: 1.5px solid #ff7533;
  }
}

.brand {
  a,
  span {
    font-size: 20px;
    font-weight: bold;
    color: #00a396;
    padding: 0px;
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 5px;
    width: 40px;
    height: auto;
    margin-top: 2px;
  }
}

.btns {
  ul {
    :nth-child(2) {
     a {
        background-color: #ff7533;
        color: #fff;
        padding: 10px 25px;
        border-radius: 5px;
      }
    }
  }
}
