.orangeBtn {

  button {
    background-color: #ff7533;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    p {
      margin: 0px;
      color: #fff;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }

  button:focus {
    outline: none;
  }
}
