#landingSection {
  background-color: #f6f8fc;
  z-index: -1;
  .row {
    height: 100%;
  }
  .content {
    width: 75%;
    margin-bottom: 20px;
  }

  .btnAuth {
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid transparent;
    padding: 15px 0px;
    min-width: 125px;
    text-align: left;
  }

  .btnAuth:hover {  
    border-bottom: 1.5px solid #ff7533;
  }

  .btnAuth:focus {
    outline: none;
  }

  hr {
    margin: 0px;
  }

  @media screen and (max-width: 1200px) {
    .content {
      width: 100%;
      margin-bottom: 0px;
      padding: 20px;
    }
  }
}

#welcomeSection {
  margin: 200px 0px;
  p {
    font-weight: bold;
    color: #78899d;
  }
  @media screen and (max-width: 990px) {
    padding: 20px;
    p {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 668px) {
    margin: 50px 0px;
  }
}

#expertiseSection {
  background-color: #f3f3f3;
  padding: 100px 0px 120px 0px;
  p {
    font-weight: bold;
    color: #78899d;
  }
  @media screen and (max-width: 990px) {
    padding: 100px 20px 0px;
    p {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 668px) {
    margin-top: 50px;
  }
}

#featureSection {
  background-color: #ff7533;
  padding: 200px 50px;
  img {
    width: 100%;
  }
  @media screen and (max-width: 1200px) {
    padding: 120px 50px 100px;
  }
  @media screen and (max-width: 400px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

#feedbackSection {
  padding: 100px 0px;
  background-color: #f3f3f3;
  p {
    font-weight: bold;
    color: #78899d;
  }
  @media screen and (max-width: 990px) {
    padding: 100px 20px;
    p {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 1200px) {
}
